{
  "subscribers": [
    {"name": "Nick Hughes", "email": "jnfejn@fnejn.com", "birthday": "20.10.1983"},
    {"name": "Chris Spencer", "email": "nn3b4@nne.com", "birthday": "01.02.2000"},
    {"name": "Kevin Grady", "email": "ny44y5@ndj.com", "birthday": "30.05.1954"}
  ]
}